h1 {
    color: blue;
}

rating > label {
  color: #ddd;
 float: right;
}

.rating {
  border: none;
  float: left;
}

.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

wrapper {
    width:100%;
    height:100%;
}

div {
    display: block;
}

#up {
    width:100%;
    height:40%;

}

#left {
    width:50%;
    height:60%;
    float:left;
}

#right {
    width:50%;
    height:60%;
    float:right;
}